{% comment %}
  NOTE : This cart page was always lagging behind enhancements we made to 
  bugs in the ajax-cart. In order to unify the source of truth, this page
  is really the ajax-cart displayed in full screen.
{% endcomment %}

<script>
  // Must force fetch ajax-cart, otherwise it hasn't rendered yet :p
  $(document).ready( function() {
    ShopifyAPI.getCart( ajaxCart.cartUpdateCallback );
  });
</script>

<div id="shopping-cart" class="desktop-12 tablet-6 mobile-3">

  {% comment %} :: SCRIPT HANDLES :: Since ajax cart is overriding, these aren't needed currently {% endcomment %}
  {% comment %}{% include 'cart-form-scripts' %}{% endcomment %}

  {% comment %} :: CART - TITLE :: {% endcomment %}
  <h2 class="cart-title">{{ 'cart.general.title' | t }}</h2>
  
  {% comment %} :: CART - CONTENTS (Empty) :: {% endcomment %}
  {% if cart.item_count == 0 %}
    <p>{{ 'cart.general.empty' | t }}</p>
  
  {% comment %} :: CART - CONTENTS (Items Present) :: {% endcomment %}
  {% else %}
    {% comment %} :: CART PAGE FORM :: Disabled for now so ajax-cart-template.liquid is source of truth {% endcomment %}
    {% comment %}{% include 'cart-form' %}{% endcomment %}
  {% endif %}

</div>
