<div id="contact-muck">
	<div id="subpage">
	  	{% include 'sidenav' %}
		<div class="page-content-field">
			{{ page.content }}

			<div id="muck-form">
				{% include 'contact' %}
			</div>
		</div>			
	</div>
</div>