<div id="page_contest_success">
	{% section 'page-contest-success-banner' %}
	<div class="page-content-field">
  		{{ page.content }}
  	</div>
</div>

{% comment %} sample contest-success page
Title: Contest success
handle: contest-success
<div class="contest-success-banner">
	<img src="https://cdn.shopify.com/s/files/1/0068/5454/1425/files/Success_Page_Image.jpg?v=1551442632" alt="" />
</div>
<div class="contest-success-text">
	<h2>Your entry has been successfully submitted!</h2>
	<h3>Thank you for entering our competition. we'll be announcing the winner 20th March 2018. Good luck!</h3>
</div>
{% endcomment %}