<div id="page_contest">
  {% comment %}
  {% section 'slideshow' %}
  {% endcomment %}
  {% section 'page-contest-template' %}
</div>

<script type="text/javascript">
	$( document ).ready(function() {
	$("#other_interest_div").hide();
	$("#other_feedback_div").hide();
	$(".product_feedback_chk").change(function() {
	    if(this.checked && this.value == "other") {
	       	$("#other_feedback_div").show();
	       	$("#other_feedback").val("");
	    }
	    else{
	    	$("#other_feedback_div").hide();
	    	$("#other_feedback").val("");
	    }
	});
	$(".interest_chk").change(function() {
	    if(this.checked && this.value == "other") {
	       	$("#other_interest_div").show();
	       	$("#other_interest").val("");
	    }
	    else{
	    	$("#other_interest_div").hide();
	    	$("#other_interest").val("");
	    }
	});
	$.validator.addMethod("email_validate", function(value, element)
			{
				var is_validate = true;
				var pattern = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/
				for(var i = 0; i < value.length; i++) {
					if(!pattern.test(value[i]))
					{
						is_validate = false;
					}
				}
		    	return is_validate;
			}, "Please enter valid email address.");
	});
    $('#contest_form').validate({
			rules:
			{                   
				full_name:{required: true},               
            	email:{required: true,email:true},
            	age:{required: true}, 
            	gender:{required: true},
            	other_interest:{required: true},
            	other_feedback:{required: true},
            	tandc:{required: true},
			},
            messages:
            {
            	full_name:{required: "Please enter your name.",},   
            	email:{required: "Please enter email address.",},
            	age:{required: "Please select age.",}, 
            	gender:{required: "Please select gender.",},                
			},                
            submitHandler: function(form) {
            	var product_feedback_arr = [];
            	var interest_arr = [];
            	$.each($("input[class='product_feedback_chk']:checked"), function(){
	                product_feedback_arr.push($(this).val());
	            });
	            if ($('#other_feedback').val() != ''){
	            	product_feedback_arr.push($('#other_feedback').val());
	            }
	            $.each($("input[class='interest_chk']:checked"), function(){
	                interest_arr.push($(this).val());
	            });
	            if ($('#other_interest').val() != ''){
	            	interest_arr.push($('#other_interest').val());
	            }
            	zaius.subscribe({         
		              list_id: 'contest_03_2019',
		              email: $('#email').val(),
		              first_name: $('#full_name').val(),
		              gender: $('#gender').val(),
		              age: $('#age').val(),
		              product_feedback: product_feedback_arr.join(", "),
		              interest: interest_arr.join(", ")
		            },
		            // success state
		            function() {
		              window.location.href = "/pages/contest-success";
		            },
		            // fail state
		            function(error) {
		              console.log(error);
		            }
		          );
			}
		});
		
</script>