<nav class="blog-nav">
  <div class="blog-nav-menu-desktop row">
    <ul class="blog-nav-menu-desktop-list">
      {% for link in linklists.blogs.links %}
        {% assign blogItem = link.object %}
        <li class="blog-nav-primary-link {% if blog.handle == blogItem.handle %}active{% endif %}">
          <a class="nav-category-header" href="{{ blogItem.url }}">{{ blogItem.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>


















