<div id="contest_form_container">
  	<form method="post" action="" id="contest_form" name="contest_form" accept-charset="UTF-8">
	  	<div class="clearfix large_form">
		    <label for="full_name" class="login">Your Name<span class="clsRequiredFieldLable">*</span></label>
		    <input type="text" value="" name="full_name" id="full_name" class="large" size="30">
		    <label id="full_name-error" class="error" for="full_name"></label>
	    </div>
	    <div class="clearfix large_form">
	        <label for="email" class="login">Email Address<span class="clsRequiredFieldLable">*</span></label>
	        <input type="text" value="" name="email" id="email" class="large" size="30">
	        <label id="email-error" class="error" for="email"></label>
	    </div>
	    <div class="clearfix large_form">
	        <label for="gender" class="login">Gender<span class="clsRequiredFieldLable">*</span></label>
	        <select id="gender" name="gender" class="gender">
	        	<option selected="" disabled="">select</option>
	        	<option value="male">Male</option>
	        	<option value="female">Female</option>
	        </select>
	        <label id="gender-error" class="error" for="gender"></label>
	    </div>
	    <div class="clearfix large_form">
	        <label for="age" class="login">Age<span class="clsRequiredFieldLable">*</span></label>
	        <select id="age" name="age" class="age">
	        	<option selected="" disabled="">select</option>
	        	<option value="18-24">18-24</option>
	        	<option value="25-34">25-34</option>
	        	<option value="35-44">35-44</option>
	        	<option value="45-54">45-54</option>
	        	<option value="55-64">55-64</option>
	        	<option value="65+">65+</option>
	        </select>
	        <label id="age-error" class="error" for="age"></label>
	    </div>
	    <div class="clearfix large_form">
	        <label for="interest" class="login">Interest</label>
	        <div class="kilo">
		        <input type="checkbox" name="interest" value="dog_walking">Dog Walking<br>
			  	<input type="checkbox" name="interest" value="gardening">Gardening<br>
			  	<input type="checkbox" name="interest" value="equestrian">Equestrian<br>
			  	<input type="checkbox" name="interest" value="fishing">Fishing<br>
			  	<input type="checkbox" name="interest" value="hunting">Hunting<br>
			  	<input type="checkbox" name="interest" value="farm_and_agriculture">Farm & Agriculture<br>
			  	<input type="checkbox" name="interest" value="hiking">Hiking<br>
			  	<input type="checkbox" name="interest" value="other">Other (specify Below)<br>
			  	<label for="other_interest" class="login">Other Interests</label>
			  	<input type="text" value="" name="other_interest" id="other_interest" class="large" size="30">
			  	<label id="interest-error" class="error" for="interest"></label>
		  	</div>
	    </div>
	    <div class="clearfix large_form">
	        <label for="product_feedback" class="login">How would you describe our products?</label>
	        <div class="kilo">
		        <input type="checkbox" name="product_feedback" value="high_quality">High Quality<br>
			  	<input type="checkbox" name="product_feedback" value="low_quality">Low Quality<br>
			  	<input type="checkbox" name="product_feedback" value="practical ">Practical<br>
			  	<input type="checkbox" name="product_feedback" value="impractical">Impractical<br>
			  	<input type="checkbox" name="product_feedback" value="good_value_for_money">Good Value for Money<br>
			  	<input type="checkbox" name="product_feedback" value="stylish">Stylish<br>
			  	<input type="checkbox" name="product_feedback" value="other">Other (specify Below)<br>
			  	<label for="other_feedback" class="login">Other</label>
			  	<input type="text" value="" name="other_feedback" id="other_feedback" class="large" size="30">
			  	<label id="product_feedback-error" class="error" for="product_feedback"></label>
		  	</div>
	    </div>
	    <p>By providing your details and agreeing to the Terms & Conditions and Privacy Policy outlined below you consent to receive information from The Original Muck® Boot Company and The Bull Shed Barn.</p>
	    <div class="clearfix large_form">
	        <input type="checkbox" name="tandc" value="tandc">Tick this box to agree to the Terms & Conditions and Privacy Policy<br>
	        <label id="tandc-error" class="error" for="tandc"></label>
	    </div>
		<div class="action_bottom">
	        <input class="secondary button" type="submit" value="Sign In">
	    </div>
	    <div>
	    	<p>
	    		TERMS AND CONDITIONS
The promoter of muckbootcompany.co.uk Muck Boot’s Facebook Giveaway is Honeywell Safety Products of 115 Baker Street, 4th Floor, London, W1U 6RT ("Promoter"). 
 
1. Eligibility 
1.1. This Prize Draw is open to individuals in the UK only. Entrants must be over the age of 18. 
1.2. Employees of the Promoter or any associated company and their immediate family as well as sponsors of the Prize Draw and their employees and judges of the Prize Draw and their immediate family, or anyone else involved in the organisation of the Prize Draw, may not enter the Prize Draw.
1.3. Entrants will require access to the internet to enter the Prize Draw.
1.4. Entrants must have their own active personal Facebook Account.
1.5. Entrants remain subject to the terms and conditions.
 
2. How to enter
2.1. To enter the Prize Draw entrants must:
2.2. To be in with a chance of winning a stay at Bull Shed Barn from 12-14th April complete the online form on www.muckbootcompany.co.uk;
2.3. Entries must be made between 7.00 GMT on 26.02.19 and 23:59 GMT on 18.03.19 ("Competition or Competition Period") to be valid. 
2.4. Entries received after the end of the Prize Draw Period will not be valid.
2.6. No third party or automated entries are permitted.
2.7. All entrants (including the winners) must comply with any reasonable directions given to him or her by the Promoter in connection with the Prize Draw. Failure to comply with such directions may result in an invalid Entry and/or withdrawal of the Prize.
 
3. Winner selection and contact 
3.1. The Promoter will select at random at the end of the Competition Period, 1 winner of Prize Draw 1. The Winners will be announced via the Muck Boot Facebook page.
3.2. No correspondence will be entered into respect of any decision made in connection with the Prize Draw.
The Judges shall have absolute discretion to choose the winning Entries and the Judges' decision shall be final. The full names of the Judges are available upon written request to muckbootcompany.co.uk. No correspondence will be entered into in respect of any decision made in connection with this Prize Draw. 
3.3. At the end of the Prize Draw Period, the Promoter will announce the Winner by contacting the Winner via direct message on Facebook whereby the Promoter will ask the Entrant for their contact details. Once the details have been provided in the manner stipulated herein, the Promoter will provide further details regarding the Prize. 
3.4. The Winners must provide their name and email address (“Details”) in order to claim the Prize. 
3.5. If any Winner fails to provide their Details to the Promoter within 48 hours of the Promoter tagging the winner in the Facebook post and direct message on Facebook, asking them to provide the details in accordance with clause 3.3 then the Promoter acting in its absolute discretion may:
3.5.1.make further attempts to contact that Winner; and/or
3.5.2.withdraw the Prize from that Winner.
3.6. If the Prize is declined by a Winner or is withdrawn from a Winner by the Promoter under clause 3.5.:
3.6.1.the declining or forfeiting Winner will continue to be subject to the provisions of these Terms and Conditions; and the Promoter may offer the Prize to a new Winner selected by the Judges in accordance with this clause 3. 
 
4. Prize
4.1. Prize Draw 1 - 1 Winners will receive a 2 night stay at Bull Shed Barn from 12th-14th April. 
4.2. The Prizes are subject to availability. 
4.3. The Prizes are non-transferable and non-refundable and the Winners cannot request any alternative prize (cash or otherwise).
 
5. Winner publicity
5.1. The Promoter reserves the right to publish each Winner's name and Entry on the Promoter’s official social media accounts, including Twitter, Instagram and Facebook and on its website found at muckbootcompany.co.uk
5.2. By entering the Prize Draw, if you are a Winner you agree to your Entry being published in accordance with clause 5.1 and to take part in and co-operate fully with all reasonable publicity accompanying or resulting from this Prize Draw without further recompense. 
 
6. Entry requirements 
6.1. Any Entry that is deemed by the Promoter, in its sole discretion, to be unlawful, obscene, vulgar, pornographic, hateful, threatening, discriminatory, offensive or which may otherwise bring the Prize Draw or Promoter into disrepute will be excluded from the Prize Draw and the Promoter reserves the right to take any further action in respect of such Entry that it deems appropriate.
6.2. The Promoter will fully co-operate with any law enforcement authorities or court order requesting or directing the Promoter to disclose the identity of or to locate anyone posting or linking any content to its Facebook, Twitter or Instagram pages which infringes any third party rights or is in breach of any of these Terms and Conditions or any applicable law.
 
7. Use and display of Entries and copyright
7.1. The copyright subsisting in the Entry must belong to the entrant. Entrants will retain copyright in the Entries they submit. Entrants must not have infringed the rights of any other party or breached any laws when submitting their Entries. If an Entry contains reference to or images of a person, the consent of that person (or their parent or guardian if they are under 18) must have been obtained.
7.2. By submitting an Entry:
7.2.1.you licence and grant the Promoter, its affiliates and sub-licensees an exclusive, royalty free, perpetual, worldwide, irrevocable and sub-licensable right to use, reproduce, modify, adapt, publish and display such content for any purpose in any media including, but not limited to the Promoter’s website, social media accounts, marketing materials, newsletters and promotional material without further compensation, restriction on use, attribution or liability;
7.2.2.you waive any moral rights or similar rights in respect of your entry to which you may be entitled (at the time of submission or in the future) under the Copyright, Designs and Patents Act 1988 as amended time to time or under any similar applicable laws in force from time to time in force anywhere in the world;
7.2.3.you acknowledge that third parties will have access to and will be able to republish your Entry in accordance with the terms of use of the social media platform through which your Entry is submitted.
 
8. Liability
8.1. Except for death or personal injury caused by negligence of the Promoter or its agents or representatives or for fraud or fraudulent misrepresentation, neither the Promoter, nor its agents or representatives assume responsibility for:
8.1.1.any Prize that is not redeemed;
8.1.2.any personal property;
8.1.3.any loss of enjoyment or wasted expenditure;
8.1.4.any system failures or malfunctions of any third party websites;
8.1.5.any incomplete, lost, delayed or late Entries;
8.1.6.any failure to fulfil obligations of any third parties involved in this Prize Draw;
8.1.7.any fault, malfunction, damage, loss or disappointment suffered by the participants in the Prize Draw howsoever arising from participating in the Prize Draw;
8.1.8.communications line failure, regardless of cause, with regard to any equipment, systems, networks, lines, satellites, servers, computers or providers utilised in any aspect of this Prize Draw;
8.1.9.inaccessibility or unavailability of the internet, or any website (including without limitation any social media web sites) or any combination thereof through dial up, broadband, mobile internet or WAP connections;
8.1.10. any injury or damage to a participant which may be related to or arising from the Prize Draw or the Prize;
8.1.11. if for any reason the Prize Draw or any website in connection with the Prize Draw is not capable of running as planned for reasons which may include without limitation, infection by computer, virus, tampering, unauthorised intervention, fraud, technical failures or any other causes which may corrupt or affect the administration security, fairness, integrity or proper conduct of this promotion; and/or 
8.1.12. any other matter outside of their reasonable control.
8.2. Nothing in these Terms and Conditions affects your statutory rights. 
8.3. To the extent permitted by law, all conditions, warranties and other terms which might otherwise be implied by statute or common law are expressly excluded from these Terms and Conditions. 
8.4. The Winners agree to indemnify and keep indemnified the Promoter, its group of companies and their officers, employees and agents from and against all liabilities, losses, damages and expenses (including legal and other professional fees) arising out of or in connection with any allegations or claims resulting directly or indirectly from: 
8.4.1.their Entry into this Prize Draw; and/or
8.4.2.their receipt and use of any Prize.
 
9. General
9.1. The Promoter reserves the right to cancel or amend the Prize Draw or these Terms and Conditions if it has reasonable grounds for doing so. Any changes to the Prize Draw or these Terms and Conditions will be announced by the Promoter through its Instagram account. 
9.2. By entering the Prize Draw you accept these Terms and Conditions as in force at the time you submit your Entry.
9.3. Any person who provides their Details to the Promoter in connection with this Prize Draw accepts:
9.3.1.these Terms and Conditions 
 


	    	</p>
	    </div>
	</form>
  </div>
</div>