<nav id="nav" {% if section.settings.full_width_header %} class="gridlock-fluid"{% endif %}>
  
  <div id="nav-menu-desktop" class="row">
    <ul id="nav-menu-desktop-list">
      {% assign menu = linklists[section.settings.main_nav] %}
      {% for link in menu.links %}
        {% include 'navigation-items' %}
      {% endfor %}

      {% comment %}
        {% if section.settings.logo_center %}
          </ul>
          <div class="divider"></div>
          <ul id="nav-menu-desktop-list-1">
          {% assign menu_right = linklists[section.settings.right_nav] %}
          {% for link in menu_right.links %}
            {% include 'navigation-items' %}
          {% endfor %}
        {% endif %}
      {% endcomment %}
    </ul>
  </div>
</nav>


















