{% comment %} SIZE CHART {% endcomment %}
{% assign is_eu_or_uk = false %}
{% assign is_ca_or_usa = false %}
{% if settings.international_store_version == 'UK' or settings.international_store_version == 'EU' %}
  {% assign is_eu_or_uk = true %}
{% endif %}
{% if settings.international_store_version == 'CA' or settings.international_store_version == 'US'%}
  {% assign is_ca_or_usa = true %}
{% endif %}

{% for tag in product.tags %}
  {% if tag contains 'size_chart' %}
    {% assign size_chart = tag | remove: 'size_chart_' %}

    {% case size_chart %}
      {% when 'boys' %}
        {% assign size_chart_type = 'kids' %}
      {% when 'girls' %}
        {% assign size_chart_type = 'kids' %}
      {% when 'babies' %}
        {% assign size_chart_type = 'babies' %}
      {% when 'neos_non_insulated' %}
        {% if is_ca_or_usa %}
          {% assign size_chart_type = 'neos_non_insulated' %}
        {% endif %}
      {% when 'neos_insulated' %}
        {% if is_ca_or_usa %}
          {% assign size_chart_type = 'neos_insulated' %}
        {% endif %}
      {% when 'men' %}
        {% assign size_chart_type = 'mens' %}
        
        {% if is_eu_or_uk %}
          {% assign size_chart_type = 'mens-womens' %}
        {% endif %}
        
      {% when 'women' %}
        {% assign size_chart_type = 'womens' %}
        
        {% if is_eu_or_uk %}
          {% assign size_chart_type = 'mens-womens' %}
        {% endif %}

      {% when 'socks' %}
         {% assign size_chart_type = 'socks' %}

          {% if is_eu_or_uk %}
            {% assign size_chart_type = 'socks' %}
          {% endif %}
        
      {% when 'sale' %}
        {% assign size_chart_type = 'all' %}
      {% when 'kids sock' %}
        {% assign size_chart_type = 'kids-socks' %}
      {% else %}
        {% assign size_chart_type = 'all' %}
    {% endcase %}
  {% endif %}
{% endfor %}

<div id="size-chart--popup" class="product-page-popup" style="display: none" data-size-chart-type="{{ size_chart_type }}">
  {{ pages[section.settings.size_chart_page].content }}
</div>
