{% comment %} 
	REACT-DISCOUNTS :
		- Liquid Template for rendering global components into

	INFO :
		- Config managed in scripts > react-components > react-discounts > DiscountsParent.js
{% endcomment %}
<div id="react-discounts"></div>