<div class="left-nav">
    <nav>
        <ul>
          {% for link in linklists.side-menu.links %}
      <li><a href="{{ link.url }}">{{ link.title }}</a></li>
    {% endfor %}
        </ul>
    </nav>
  <div class="categories">
    {% for link in linklists.side-menu.links %}
      <div class="category"><a href="{{ link.url }}">{{ link.title }}</a></div>
    {% endfor %}
  </div>

</div>

<style>
.categories {
  width:150px; 
  height:20px; 
  border:solid 1px green; 
  background:#e1e1e1;
}
.category {
  display:none;
    width:150px; 
  height:20px; 
  border:solid 1px green; 
  background:#e1e1e1;
}
</style>

<script>
  $('.categories').prepend('<span>select options</span>');

  $('.categories').click(function(){
    $('div',this).slideToggle();
    $('.categories span').html('select options');
  });

  $('.category').click(function(e){
    e.stopPropagation();
    $('.category').slideToggle();
    $('.categories span').html($(this).text());
  });
</script>