<label class="custom-checkbox">
	<span class="share-info-line">{{ settings.info_line }}</span>
	<input type="checkbox" class="input-checkbox">
	<span class="checkmark"></span>
</label>
<div class="error-terms-msg">{{ settings.newsletter_terms_error }}</div>