<!--requirements:-->
<!--Font-awesome-->

<div class="yotpo-product-snippet-custom-design"
     data-appkey="gzejKiOGN46xeB5iurqalrS7dI7zEUIMZ9OCF4MM"
     data-product-id="{{ product.id }}">
  <div class="yotpo-custom__wrapper">
    <div class="yotpo-custom__header">
      <h2>
        Reviews
      </h2>
      <div class="yotpo-custom__stars">
        <div class="stars-outer">
          <div class="stars-inner"></div>
        </div>
      </div>
      <div class="yotpo-custom__reviews-count">
        <a href="#" class="yotpo-custom__link">0 Review</a>
      </div>
    </div>

    <div class="yotpo-custom__divider">
      <a class="yotpo-custom__link yotpo-custom__btn--write-review">
        <span class="fa fa-pencil-square-o"></span>
        <span class="text">Write a Review</span>
      </a>
    </div>

    <div class="yotpo-custom__summary">
      <div class="yotpo-custom__chart">
        <div class="yotpo-custom__chart--recommend">
          <span class="yotpo-custom__chart--recommend-percent">100</span>% of customers recommend this product
        </div>

        <div class="yotpo-custom__chart--widget yotpo-custom__chart--Size">
          <div class="yotpo-custom__chart--widget-header">
            Size
          </div>
          <div class="yotpo-custom__chart--widget-bar">
            <div class="yotpo-custom__chart--widget-bar-control"></div>
          </div>
          <div class="yotpo-custom__chart--widget-label">
            <span>Too Small</span>
            <span>Perfect</span>
            <span>Too Large</span>
          </div>
        </div>

        <div class="yotpo-custom__chart--widget yotpo-custom__chart--Width">
          <div class="yotpo-custom__chart--widget-header">
            Width
          </div>
          <div class="yotpo-custom__chart--widget-bar">
            <div class="yotpo-custom__chart--widget-bar-control"></div>
          </div>
          <div class="yotpo-custom__chart--widget-label">
            <span>Too Narrow</span>
            <span>Perfect</span>
            <span>Too Large</span>
          </div>
        </div>

        <div class="yotpo-custom__chart--widget yotpo-custom__chart--Comfort">
          <div class="yotpo-custom__chart--widget-header">
            Comfort
          </div>
          <div class="yotpo-custom__chart--widget-bar">
            <div class="yotpo-custom__chart--widget-bar-control"></div>
          </div>
          <div class="yotpo-custom__chart--widget-label">
            <span>Uncomfortable</span>
            <span>Comfortable</span>
          </div>
        </div>

        <div class="yotpo-custom__chart--widget yotpo-custom__chart--Quality">
          <div class="yotpo-custom__chart--widget-header">
            Quality
          </div>
          <div class="yotpo-custom__chart--widget-bar">
            <div class="yotpo-custom__chart--widget-bar-control"></div>
          </div>
          <div class="yotpo-custom__chart--widget-label">
            <span>Poor</span>
            <span>Perfect</span>
          </div>
        </div>
      </div>

      <div class="yotpo-custom__reviews">
        <div class="yotpo-custom__divider">
          <div class="yotpo-custom__tab--reviews">
            Reviews (<span class="yotpo-custom__tab--reviews-count">0</span>)
          </div>
        </div>

        <div class="yotpo-custom__reviews-list">
          <!--start reviews list-->
          <!--<div class="yotpo-custom__review-item">-->
            <!--<div class="yotpo-custom__review-item&#45;&#45;header">-->
              <!--<div class="yotpo-custom__review-item&#45;&#45;header-info">-->
                <!--<div class="yotpo-custom__review-item&#45;&#45;header-photo-container">-->
                  <!--<div class="yotpo-custom__review-item&#45;&#45;header-photo">C</div>-->
                  <!--<div class="yotpo-custom__review-item&#45;&#45;header-badge">-->
                    <!--<span class="fa fa-check-circle"></span>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="yotpo-custom__review-item&#45;&#45;header-data">-->
                  <!--<div class="yotpo-custom__review-item&#45;&#45;header-name-wrapper">-->
                    <!--<div class="yotpo-custom__review-item&#45;&#45;header-name">Chris</div>-->
                    <!--<div class="yotpo-custom__review-item&#45;&#45;header-verified">Verified Buyer</div>-->
                  <!--</div>-->

                  <!--<div class="yotpo-custom__review-item&#45;&#45;header-stars">-->
                    <!--<div class="stars-outer">-->
                      <!--<div class="stars-inner"></div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="yotpo-custom__review-item&#45;&#45;header-date">-->
                <!--01/28/19-->
              <!--</div>-->
            <!--</div>-->

            <!--<div class="yotpo-custom__review-item&#45;&#45;body">-->
              <!--<div class="yotpo-custom__review-item&#45;&#45;body-title">-->
                <!--Awesome boots!-->
              <!--</div>-->
              <!--<p class="yotpo-custom__review-item&#45;&#45;body-content">-->
                <!--Easy to slip on, comfortable to wear, and perfect for rain, muddy conditions, or snow. Love these boots!-->
              <!--</p>-->
              <!--<div class="yotpo-custom__review-item&#45;&#45;body-vote">-->
                <!--<div class="yotpo-custom__review-item&#45;&#45;body-vote-text">Was this Review Helpful?</div>-->
                <!--<div class="yotpo-custom__review-item&#45;&#45;body-vote-up">-->
                  <!--<span class="fa fa-thumbs-up"></span>-->
                  <!--<span class="yotpo-custom__review-item&#45;&#45;body-vote-upcount">0</span>-->
                <!--</div>-->
                <!--<div class="yotpo-custom__review-item&#45;&#45;body-vote-down">-->
                  <!--<span class="fa fa-thumbs-down"></span>-->
                  <!--<span class="yotpo-custom__review-item&#45;&#45;body-vote-downcount">0</span>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--end reviews list-->
        </div>
        <div class="yotpo-custom__reviews-loadmore">
          <a class="yotpo-custom__link yotpo-custom__reviews-btn--loadmore">
            More reviews
            <span class="fa fa-caret-up"></span>
          </a>
          <div class="yotpo-custom__reviews-btn--loading">
            <span class="fa fa-spinner fa-spin"></span>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<script>
  function ready(fn) {
    if (document.attachEvent ? document.readyState === "complete" : document.readyState !== "loading"){
      fn();
    } else {
      document.addEventListener('DOMContentLoaded', fn);
    }
  }
  ready(function () {
    var $customYotpo = $('.yotpo-product-snippet-custom-design');
    var yotpoAppKey = $customYotpo.data('appkey');
    var pId = $customYotpo.data('product-id');
    var currentPage = 1;
    var perPage = 5;

    /*
      * logic for Size, Width, Comfort, Quality
      * Param: customField (object)
    */
    var logicForFeedbackCharts = function (customField) {
      var leftPosition = '40%';
      if (customField.title === 'Size' || customField.title === 'Width') {
        leftPosition = '40%';
        if (customField.score >= 1 && customField.score < 1.33) {
          leftPosition = '0';
        } else if (customField.score >= 1.33 && customField.score < 1.66) {
          leftPosition = '20%';
        } else if (customField.score >= 2.33 && customField.score < 2.66) {
          leftPosition = '60%';
        } else if (customField.score >= 2.66) {
          leftPosition = '80%';
        }
      }

      if (customField.title === 'Comfort' || customField.title === 'Quality') {
        leftPosition = '80%';
        if (customField.score >= 1 && customField.score < 1.2) {
          leftPosition = '0';
        } else if (customField.score >= 1.2 && customField.score < 1.4) {
          leftPosition = '20%';
        } else if (customField.score >= 1.4 && customField.score < 1.6) {
          leftPosition = '40%';
        } else if (customField.score >= 1.6 && customField.score < 1.8) {
          leftPosition = '60%';
        }
      }

      if (customField.title) {
        $('.yotpo-custom__chart--' + customField.title + ' .yotpo-custom__chart--widget-bar-control').css('left', leftPosition);
      }

    };

    /*
    * catch first letter of user's name
    * Param: review (object)
    * */
    var catchFirstLetter = function (review) {
      return review.user && review.user.display_name && review.user.display_name.charAt(0);
    };
    /*
    * date formatter
    * Param: review (object)
    * */
    var dateFormatter = function (review) {
      var newDate = new Date(review.created_at);
      return newDate.getMonth() + '/' + newDate.getDate() + '/' + newDate.getFullYear();
    };
    /*
    * get percent for 5 stars
    * Param: score (number)
    * */
    var getPercentForStars = function (score, letterSpacing) {
      var averageStarPercentage = '0%';
      if (score) {
        var spacing = letterSpacing;
        averageStarPercentage = (score / 5) * 100;
        if (averageStarPercentage >= 0 && averageStarPercentage < 20) {
          spacing = 5 * letterSpacing;
        } else if (averageStarPercentage >= 20 && averageStarPercentage < 40) {
          spacing = 4 * letterSpacing;
        } else if (averageStarPercentage >= 40 && averageStarPercentage < 60) {
          spacing = 3 * letterSpacing;
        } else if (averageStarPercentage >= 60 && averageStarPercentage < 80) {
          spacing = 2 * letterSpacing;
        }
        averageStarPercentage = 'calc(' + averageStarPercentage + '% - ' + spacing + 'px)';
      }
      return averageStarPercentage;
    };

    /*
    * get user type
    * Param: review (object)
    * */
    var getUserType = function (review) {
      if (review.verified_buyer) {
        return 'Verified Buyer';
      }

      if (review.user && review.user.user_type && review.user.user_type !== 'AnonymousUser') {
        return 'Verified Reviewer';
      }

      return '';
    };

    /*
    * generating review item
    * Param: review (object)
    * */
    var generateReviewItem = function (review) {
      var reviewItem = '<div class="yotpo-custom__review-item" data-review-id="' + review.id + '">';
      reviewItem +=      '<div class="yotpo-custom__review-item--header">';
      reviewItem +=        '<div class="yotpo-custom__review-item--header-info">';
      reviewItem +=          '<div class="yotpo-custom__review-item--header-photo-container">';
      reviewItem +=            '<div class="yotpo-custom__review-item--header-photo">' + catchFirstLetter(review) + '</div>';
      reviewItem +=            '<div class="yotpo-custom__review-item--header-badge"><span class="fa fa-check-circle"></span></div>';
      reviewItem +=          '</div>';
      reviewItem +=          '<div class="yotpo-custom__review-item--header-data">';
      reviewItem +=            '<div class="yotpo-custom__review-item--header-name-wrapper">';
      reviewItem +=              '<div class="yotpo-custom__review-item--header-name">' + review.user.display_name + '</div>';
      reviewItem +=              '<div class="yotpo-custom__review-item--header-verified">' + getUserType(review) + '</div>';
      reviewItem +=            '</div>';
      reviewItem +=            '<div class="yotpo-custom__review-item--header-stars">';
      reviewItem +=              '<div class="yotpo-custom__review-item--header-name">';
      reviewItem +=                '<div class="stars-outer"><div class="stars-inner" style="width: ' + getPercentForStars(review.score, 10) + '"></div></div>';
      reviewItem +=              '</div>';
      reviewItem +=            '</div>';
      reviewItem +=          '</div>';
      reviewItem +=        '</div>';
      reviewItem +=        '<div class="yotpo-custom__review-item--header-date">' + dateFormatter(review);
      reviewItem +=        '</div>';
      reviewItem +=      '</div>';
      reviewItem +=      '<div class="yotpo-custom__review-item--body">';
      reviewItem +=        '<div class="yotpo-custom__review-item--body-title">' + review.title || 'Awesome!';
      reviewItem +=        '</div>';
      reviewItem +=        '<p class="yotpo-custom__revyotpo-custom__linkiew-item--body-content">' + review.content || 'This product is very good.';
      reviewItem +=        '</p>';
      reviewItem +=        '<div class="yotpo-custom__review-item--body-vote">';
      reviewItem +=          '<div class="yotpo-custom__review-item--body-vote-text">Was this Review Helpful?</div>';
      reviewItem +=          '<div class="yotpo-custom__review-item--body-vote-btn" data-type="up">';
      reviewItem +=            '<span class="fa fa-thumbs-up"></span>';
      reviewItem +=            '<span class="yotpo-custom__review-item--body-vote-count">' + review.votes_up || 0 + '</span>';
      reviewItem +=          '</div>';
      reviewItem +=          '<div class="yotpo-custom__review-item--body-vote-btn" data-type="down">';
      reviewItem +=            '<span class="fa fa-thumbs-down"></span>';
      reviewItem +=            '<span class="yotpo-custom__review-item--body-vote-count">' + review.votes_down || 0 + '</span>';
      reviewItem +=          '</div>';
      reviewItem +=        '</div>';
      reviewItem +=      '</div>';
      reviewItem +=    '</div>';
      return reviewItem;
    };

    var showHideMoreReviewsBtn = function (pagination) {
      if (pagination && pagination.page * pagination.per_page < pagination.total) {
        $('.yotpo-custom__reviews-loadmore').show();
        $('.yotpo-custom__reviews-btn--loadmore').show();
        $('.yotpo-custom__reviews-btn--loading').hide();
      } else {
        $('.yotpo-custom__reviews-loadmore').hide();
      }
    };

    var updateReviewWidget = function (response) {
      var bottomLine = response && response.response && response.response.bottomline;
      var reviews = response && response.response && response.response.reviews;
      var pagination = response && response.response && response.response.pagination;

      // show/hide more_reviews button
      showHideMoreReviewsBtn(pagination);

      // reviews count
      var totalReviewsCount = bottomLine && bottomLine.total_review;
      var totalReviewsCountTxt = totalReviewsCount ? totalReviewsCount + ' Review' + (totalReviewsCount > 1 ? 's' : ''): '0 Review';
      $('.yotpo-custom__reviews-count .yotpo-custom__link').text(totalReviewsCountTxt);
      $('.yotpo-custom__tab--reviews-count').text(totalReviewsCount || 0);

      // average score by 5 stars
      var averageScore = bottomLine && bottomLine.average_score;
      $('.yotpo-custom__stars .stars-outer .stars-inner').css('width', getPercentForStars(averageScore, 15));

      // calculate recommendation percent for scores higher than 3 stars and 3 star.
      var countHigher3 = bottomLine && bottomLine.star_distribution && (bottomLine.star_distribution['5'] + bottomLine.star_distribution['4'] + bottomLine.star_distribution['3']);
      var recommendPercent = 0;
      if (countHigher3 && totalReviewsCount) {
        recommendPercent = countHigher3 / totalReviewsCount * 100;
        recommendPercent = recommendPercent.toFixed(2);
      }
      $('.yotpo-custom__chart--recommend-percent').text(recommendPercent);

      // calculate 4 chart widget's percents
      var customFields = bottomLine && bottomLine.custom_fields_bottomline;
      if (customFields && typeof customFields === 'object') {
        for (var field in customFields) {
          if (customFields[field]) {
            logicForFeedbackCharts(customFields[field]);
          }
        }
      }

      // generating reviews list
      reviews.forEach(function (review, index) {
        $('.yotpo-custom__reviews-list').append(generateReviewItem(review));
      });
    };

    var callReviewsAPI = function (page, perPage, loadMore) {
      $.ajax({
        url: 'https://api.yotpo.com/v1/widget/'  + yotpoAppKey + '/products/' + pId + '/reviews.json?page=' + page + '&per_page=' + perPage,
        type: 'GET',
        success: function (response) {
          console.log('API success: ', response);
          if (loadMore) {
            var pagination = response && response.response && response.response.pagination;
            var reviews = response && response.response && response.response.reviews;

            // show/hide more_reviews button
            showHideMoreReviewsBtn(pagination);

            // generating reviews list
            (reviews || []).forEach(function (review, index) {
              $('.yotpo-custom__reviews-list').append(generateReviewItem(review));
            });
          } else {
            updateReviewWidget(response);
          }
        },
        error: function (err) {
          console.log('can\'t get reviews data', err);
        }
      });
    };

    // listenning clicking more_reviews button
    $(document).on('click', '.yotpo-custom__reviews-btn--loadmore', function (e) {
      e.preventDefault();
      $('.yotpo-custom__reviews-btn--loadmore').hide();
      $('.yotpo-custom__reviews-btn--loading').show();
      currentPage++;
      callReviewsAPI(currentPage, perPage, true);
    });

    // vote on review
    $(document).on('click', '.yotpo-custom__review-item--body-vote-btn', function (e) {
      var voteType = $(this).data('type');
      var yotpoVoteStatus = localStorage.getItem('yotpoReviewsVotes');
      if (yotpoVoteStatus) {
        yotpoVoteStatus = JSON.parse(yotpoVoteStatus);
      }

      var $reviewItem = $(this).closest('.yotpo-custom__review-item');
      var reviewId = $reviewItem.data('review-id');
      var alreadyVoted = false;
      var $voteCount = $(this).find('.yotpo-custom__review-item--body-vote-count');
      var voteCount = parseInt($voteCount.text());

      if (yotpoVoteStatus) {
        if (yotpoVoteStatus.yotpoVote && yotpoVoteStatus.yotpoVote[reviewId] && yotpoVoteStatus.yotpoVote[reviewId][voteType]) {
          $voteCount.text(voteCount - 1);
          alreadyVoted = true;
          yotpoVoteStatus.yotpoVote[reviewId][voteType] = false;
        }

        if (!yotpoVoteStatus.yotpoVote) {
          yotpoVoteStatus.yotpoVote = {};
        }
        if (!yotpoVoteStatus.yotpoVote[reviewId]) {
          yotpoVoteStatus.yotpoVote[reviewId] = {};
        }
        if (!yotpoVoteStatus.yotpoVote[reviewId][voteType] && !alreadyVoted) {
          yotpoVoteStatus.yotpoVote[reviewId][voteType] = true;
          $voteCount.text(voteCount + 1);
        }
      } else {
        yotpoVoteStatus = {
          yotpoVote: {}
        };
        yotpoVoteStatus.yotpoVote[reviewId] = {};
        yotpoVoteStatus.yotpoVote[reviewId][voteType] = true;
        $voteCount.text(voteCount + 1);
      }
      localStorage.setItem('yotpoReviewsVotes', JSON.stringify(yotpoVoteStatus));

      // post vote API
      var voteUrl = 'https://api.yotpo.com/reviews/'  + reviewId + '/vote/' + voteType;
      if (alreadyVoted) {
        voteUrl += '/' + alreadyVoted;
      }
      $.ajax({
        url: voteUrl,
        type: 'POST',
        success: function (response) {
          console.log('Voted: ', response);
        },
        error: function (err) {
          console.log('Error on Vote:', err);
        }
      });

    });

    // load initial reviews widget
    callReviewsAPI(currentPage, perPage);

    // finding loaded write-form from default review widget
    // setup write form style as popup format
    var findFormInterval;
    findFormInterval = setInterval(function () {
      var $defaultWriteForm = $('.write-review-wrapper.write-form');
      if ($defaultWriteForm && $defaultWriteForm.length) {
        clearInterval(findFormInterval);

        // make write-form as popup
        $defaultWriteForm.css({
          'background-color': '#fff',
          'border': '1px solid #000',
          'border-radius': '5px',
          'padding': '20px 10px',
          'position': 'fixed',
          'height': '400px',
          'width': '700px',
          'z-index': '9998',
          'top': '120px',
          'left': 'calc(50vw - 350px)',
          'overflow-y': 'auto',
          '-webkit-box-shadow': '0 11px 30px 10px rgba(0,0,0,0.8)',
          '-moz-box-shadow': '0 11px 30px 10px rgba(0,0,0,0.8)',
          'box-shadow': '0 11px 30px 10px rgba(0,0,0,0.8)',
          'display': 'none'
        });

        // close button to hide write-form
        $defaultWriteForm.append('<div class="yotpo-custom__write-form--close">' +
          '<span class="fa fa-close"></span></div>');

        // listenning clicking the new review-write button
        $(document).on('click', '.yotpo-custom__btn--write-review', function (e) {
          e.preventDefault();
          $defaultWriteForm.show();
        });

        // close popup on clicking new close-button
        $(document).on('click', '.yotpo-custom__write-form--close', function (e) {
          e.preventDefault();
          $defaultWriteForm.hide();
        });
      }
    }, 500);

  });
</script>
