<section class="shopify-section video-banner-wrapper">
    <video autoplay muted loop id="BgVideo">
    <source src="{{section.settings.video_url}}" type="video/mp4">
    Your browser does not support HTML5 video.
    </video>
    <div class="index-section">
    <div class="row banner-inner-width">
        <div class="anniversary-image-wrapper">
        <img class="" src="{{ 'Muck-20Years-Logo-Reverse.png' | asset_url }}">
        </div>
        <div class="caption-wrapper">
        <h1>Who We are</h1>
        <a href="#headerPopup" id="headerVideoLink" target="_blank" class="vid-ply-btn btn btn-outline-danger popup-modal">Play Video</a>
        </div>
    </div>
    </div>
</section>
<div id="headerPopup" class="mfp-hide embed-responsive embed-responsive-21by9">
    <video id="BgVideo_1" controls="true">
    <source src="{{section.settings.video_url}}" type="video/mp4">
    Your browser does not support HTML5 video.
    </video>
</div>
{% schema %}
  {
    "name": "Video",
    "settings": [
		{
          "type": "url",
          "id": "video_url",
          "label": "Video URL"
        }
	]
  }
{% endschema %}