<div id="content" class="row">
    <div class="desktop-9 tablet-6 mobile-3 page-contest">

        <h1 class="page-title">{{ page.title }}</h1>

        <div class="share-icons">
            <span class="share-text">Follow us:</span>
            <a href="//www.facebook.com/sharer.php?u={{ shop.url }}{{ page.url }}"
               class="facebook" target="_blank"
            ><i class="fa fa-facebook fa-2x"></i></a>
            <a class="instagram" target="blank"
               href="https://www.instagram.com/muckbootco/?hl=en"
            ><i class="fa fa-instagram fa-2x"></i></a>
            <a href="//www.youtube.com/channel/UCDojhS0yZvveLz5JlHOwdhQ"
               target="_blank" rel="noopener noreferrer" class="youtube"
            ><i class="fa fa-youtube-play fa-2x"></i></a>
        </div>

        <div class="page-content-field">
            {{ page.content }}
        </div>
        {% include 'contest-form' %}
    </div>
</div>


{% comment %} sample contest page
Title: Your Chance to Win a Two Nights Stay in The Bull Shed Barn
handle: contest

<p>
    We’re very excited to announce that we’ve teamed up with the outstanding Bull Shed Barn to offer an exclusive 2 nights stay from 12th - 14th April 2019.
</p>
<p>
    Go for a walk in your Muck Boots in the idyllic Malvern Hills followed by a relaxing evening in the barn’s boutique accommodation with a contemporary style and sumptuous bedrooms.
</p>
<p>
    The prize will consist of two nights as guests of The Bull Shed Barn and new Muck Boots! For your chance to win, simply complete the form below.
</p>
<p>
    Competition will close at midnight 18th March. Terms and Conditions apply.
</p>
<p>
    Good luck! #MuckMoments
</p>

{% endcomment %}